 
 <div class="container mt-5 col-lg-12">
    <!-- <div class="card shadow-sm p-4 mx-auto" style="max-width: 400px;"> -->
      <h4 id="priceDisplay"><strong>💰 ₹<%= show.price.toLocaleString("en-IN") %></strong> <span class="text-muted" style="font-size: 1rem;">for 1 nights</span></h4>

      <form action="/listing/<%= show._id %>/reserve" method="post" class="needs-validation" novalidate>
        <div class="row g-0 border rounded mt-3">
          <div class="col-6 border-end p-2">
            <label for="checkin" class="form-label small text-uppercase fw-bold">Check-in</label>
            <input type="date" class="form-control border-0" id="checkin" name="checkin" required>
            <div class="invalid-feedback"></div>
          </div>
          <div class="col-6 p-2">
            <label for="checkout" class="form-label small text-uppercase fw-bold">Checkout</label>
            <input type="date" class="form-control border-0" id="checkout" name="checkout" required>
            <div class="invalid-feedback"></div>
          </div>
        </div>

        <div class="border rounded mt-2 p-2">
          <label for="guests" class="form-label small text-uppercase fw-bold">Guests</label>
          <select class="form-select border-0" id="guests" name="guests" required>
            <option value="1">1 guest</option>
            <option value="2">2 guests</option>
            <option value="3">3 guests</option>
            <option value="4">4 guests</option>
          </select>
        </div>

        <button type="submit" class="btn btn-danger w-100 mt-3 rounded-pill">Reserve</button>
   
      </form>
    <!-- </div> -->
  </div>