
<footer>
<div class="foot">
    <div class="social-m">
        <a href="https://facebook.com" target="_blank"><i class="fa-brands fa-square-facebook"></i></a>
        <a href="https://twitter.com" target="_blank"><i class="fa-brands fa-square-instagram"></i></a>
        <a href="https://www.linkedin.com/in/gaurav-kumar-b7990b1aa/" target="_blank"><i class="fa-brands fa-linkedin"></i></a>
    </div>
    <div class="right">
        <p>&copy; <%= new Date().getFullYear() %> Housing. All rights reserved.</p>
    </div>
    <div class="private">       
        <a href="/privacy-policy">Privacy Policy</a>
        <a href="/terms-of-service">Terms of Service</a>
    </div>
</div>
</footer>