<% layout("/layouts/boilerPlate") %>

  <div class="row"> 
     <div class="col-lg-6 offset-lg-3 frm">
<h1 class="mt-3 mb-2 new-h2 hd" >Sign up</h1>
    <form action="/user/signup" method="post" novalidate class="needs-validation">
        <div class="mb-1">
            <label for="title"  class="form-label">Email</label>
            <input type="Email" id="Email" name="Email"  required class="form-control">
            <div class="invalid-feedback">
                Enter Email
             </div>
        </div>
        
        <div class="mb-1">
            <label for="image"  class="form-label">User name</label>
            <input type="text" id="username" name="username"   class="form-control" required>
            <div class="invalid-feedback">
                Enter username
             </div>
        </div>
        <div class="mb-1">
            <label for="image"  class="form-label">Password</label>
            <input type="Password" id="Password" name="password" class="form-control" required>
            <div class="invalid-feedback">
                Enter Password
             </div>
        </div>
        
       
        <div class="mb-3 mt-3">
            <button type="submit" class="btn new-btn">Sign Up</button>
        </div>
    </form>
</div>
</div>   
</body>
</html>